*{
    font-family: 'IBM Plex Serif', serif;
}
.body{
   margin: 50px 200px;
    
    font-size: 20px;
    font-style: italic;
}
.head{
    width: 100%;
    padding: 100px 0;
    background-color: rgba(0,0,0,0.70);
    color: white;
}
@media only screen and (max-width: 768px){
    .body{
        margin: 50px 100px;
    }
}
@media only screen and  (max-width: 576px){
    .body{
        margin: 50px 50px;
    }
}


