*{
    font-family: 'IBM Plex Serif', serif;
}
.footer{
    background-color: #222;
    margin-top: 30px;
}
.foot{
    margin: 10px 50px;
    color: white;
   
}
.head1{
    margin: 20px  10px;
    padding: 5px 15px;
    background-color: #000;
}
.body1{
    margin-left: -20px !important;
}
.body1 ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.body1 ul{
    list-style-type: none;
}
.footer-icons li {
    display: inline-block;
    text-decoration: none;
    margin-left: 8px;
  
}
.footer-icons li a{
    font-size: 20px !important;
}
.last-footer{
    background-color: #757575;
    color: white;
    padding: 10px 0;
    font-size: 12px;
}
.fane{
    color: white;
    margin-right: 8px;
    font-size: 12px;
}
.mobi{
    font-size: 16px;
}
.email{
    font-size: 14px;
}
.fon, .mobi,.email{
    margin-right: 8px;
}
